{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Press+Start+2P&family=Roboto:wght@300&family=Source+Sans+3:wght@300;400;600&family=Spline+Sans:wght@300&display=swap" rel="stylesheet">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/fishbowl.svg' %}"
  >
  <title>Aquarium</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          src="{% static 'images/fishbowl.svg' %}"
          alt="Aquarium logo"
          class="logo-header-image"
        > Aquarium
      </a>
    </div>
  <nav>
    <ul>
      {% if user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li><a href="/fish">All Fish</a></li>
        <li><a href="{% url 'decorations_index' %}">All Decorations</a></li>
        <li><a href="{% url 'fish_create' %}">Add a Fish</a></li>
        <li><a href="{% url 'decorations_create' %}">Add a Decoration</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
      {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>