{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}"/>
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/fish-detail.css' %}"
/>

<script defer src="{% static 'js/fish-detail.js' %}"></script>

{% endblock %}

{% block content %}

<h1>{{ fish.name }}</h1>

<section>
  <div>
      <h2>A {{ fish.color }} {{ fish.species }}.</h2>
  </div>
  <div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' fish.id %}" 
      method="post" 
    >
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in fish.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <a href="{% url 'fish_update' fish.id %}">Edit</a>
    <a href="{% url 'fish_delete' fish.id %}">Delete</a>
  </div>
</section>

{% endblock %}