{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}"/>
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/fish-detail.css' %}"
/>

<script defer src="{% static 'js/fish-detail.js' %}"></script>

{% endblock %}

{% block content %}

<h1>{{ fish.name }}</h1>

<section>
  <div>
      <h2>A {{ fish.color }} {{ fish.species }}.</h2>
  </div>
  <div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' fish.id %}" 
      method="post" 
    >
    {% if fish.fed_for_today %}
      <p class="fed">{{fish.name}} has been fed all their meals for today!</p>
    {% else %}
      <p class="unfed">{{fish.name}} might be hungry!</p>
    {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in fish.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <a href="{% url 'fish_update' fish.id %}">Edit</a>
    <a href="{% url 'fish_delete' fish.id %}">Delete</a>
  </div>
</section>
<section class="decorations">
  <div class="subsection-title">
    <h2>Decorations</h2>
  </div>
  <h3>{{ fish.name }}'s decorations</h3>
  <div class="subsection-content">
    {% if fish.decorations.count %}
      {% for decoration in fish.decorations.all %}
        <div class="decoration-container">
          <div 
            class="color-block"
            style="background-color: {{ decoration.color }}"
          ></div>
          <a href="{% url 'decorations_detail' decoration.id %}">
            <p>A {{ decoration.color }} {{ decoration.name }}</p>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p class="no-decorations">{{fish.name}} doesn't have any toys 😞</p>
    {% endif %}
  </div>
  <h3>Available Decorations</h3>
  <div class="subsection-content">
    {% if decorations.count %}
        {% for decoration in decorations.all %}
          <div class="decoration-container">
            <div 
              class="color-block"
              style="background-color: {{ decoration.color }}"
            ></div>
            <a href="{% url 'decorations_detail' decoration.id %}">
              <p>A {{ decoration.color }} {{ decoration.name }}</p>
            </a>
            <form action="{% url 'assoc_decoration' fish.id decoration.id %}"  method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give decoration</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{fish.name}} already has all the available toys 🥳
        </p>
      {% endif %}
  </div>
</section>

{% endblock %}